/* CSS Document */

#pDebug {
	background:#000;
	font-family:Arial, Helvetica, sans-serif;
}

#pDebug tr {
	background:#EFEFEF;
}

#pDebug tr td {
	background:#EFEFEF;
	font-size:0.72em;
}

#pDebug tr td h1 {
	font-size:1.15em;
	font-weight:bold;
	margin:2px;
}

#pDebug tr td h3 {
	font-size:0.92em;
	font-weight:bold;
	margin:0px;
}

#pDebug tr td h4 {
	font-size:0.75em;
	font-weight:normal;
	margin:0px;
}

#pDebug tr td.pdg_genericRow {
	background:#CCCCCC;
}

#pDebug tr td.pdg_objectRow {
	background:#FFCCCC;
}

#pDebug tr td.pdg_stringRow {
	background:#FFE6CC;
}

#pDebug tr td.pdg_arrayRow {
	background-color: #FFFFCC;
}

#pDebug tr td.pdg_booleanRow {
	background-color: #E6FFCC;
}

#pDebug tr td.pdg_intRow {
	background:#FFCCE6;
}

#pDebug tr td.pdg_floatRow {
	background-color: #CCFFCC;
}

#pDebug tr td.pdg_exceptionRow {
	background-color: #FF5252;
}

#pDebug tr td.pdg_errorRow {
	background-color: #FF8F8F;
}

#pDebug tr td.pdg_header {
	background:#CCCCCC;
}